@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  @apply text-[14px] text-gray-200 bg-gray-800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
a,
button {
  @apply cursor-default select-none;
}

a {
  @apply text-sky-500;
}

h1 {
  @apply text-xl font-semibold;
}

p {
  @apply py-1;
}

.btn {
  @apply bg-gray-800 text-gray-200 px-3 py-2 rounded-md my-4 border border-gray-700 hover:bg-gray-700 inline-block;
}

/* Borrowed from tauri-create-app styles */
.logo {
  will-change: filter;
  transition: 0.75s;
  @apply mx-4 my-6 w-24 h-24;
}

.logo.vite:hover,
.logo.tauri:hover,
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #249b73);
}

input {
  @apply bg-gray-700 text-gray-200 px-3 py-2 rounded-md my-4 border border-gray-700 mx-2;
}
